<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
   <!--   <script src="assets/angular.min.js"></script>
  <script src="assets/angular-route.min.js"></script>  -->
  <script src = "controllers/studentHomeCtrl.js"></script>
  <title>Welcome Page</title>

</head>
<body class="loginPage" ng-app="myApp" ng-controller="teacherHomeCtrl">
        <!-- Top Nav Bar-->
        <div class="boxWithShadow">
                <md-content class="md-padding">
                  <md-nav-bar
                   md-selected-nav-item="currentNavItem"
                   nav-bar-aria-label="navigation links">
                  <md-nav-item md-nav-click="goto('home')" name="goHome">
                    Home
                  </md-nav-item>
                  <md-nav-item md-nav-click="goto('leaderboard')" name="goLeaderboard">
                      Leaderboard
                    </md-nav-item>
                    <md-nav-item style="color:red" md-nav-click="goto('logout')" name="logout">
                            Log Out
                          </md-nav-item>
                  </md-nav-bar>
                </md-content>
        </div>
        <div>
        <md-content layout-padding style="background-color:cadetblue;padding:90px 0" >
            <h3 style="text-align:right;color:white">Score: {{correctCount}} / {{totalCount}}</h3>
            <h3 style="text-align:right;color:white">{{streakMessage}}</h3>
            <!-- AK: make this bigger-->
            <h1 style="color:white;text-align: center">{{operand1}} X {{operand2}} =</h1>

            <br>
            <h5 style="color:white;text-align: center">Enter your answer: </h5>
            <div layout-padding style="text-align:center">
            <form name="studentAnswerForm">
            <input ng-model="answer"  autofocus="autofocus">
            <br>
            <input type="submit" class="md-raised md-primary" ng-disabled="loginForm.$invalid" ng-click="checkAnswer()" value="Check Answer">
            </form>
            </div>

        </md-content>
        </div>
</body>
</html>
