<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
   <!--   <script src="assets/angular.min.js"></script>
  <script src="assets/angular-route.min.js"></script>  -->
  <script src = "controllers/teacherHomeCtrl.js"></script>
  <title>Welcome Page</title>

</head>
<body class="loginPage" ng-app="myApp" ng-controller="teacherHomeCtrl">
        <!-- Top Nav Bar-->
        <div class="boxWithShadow">
                <md-content class="md-padding">
                  <md-nav-bar
                   md-selected-nav-item="currentNavItem"
                   nav-bar-aria-label="navigation links">
                  <md-nav-item md-nav-click="goto('home')" name="goHome">
                    Home
                  </md-nav-item>
                  <md-nav-item md-nav-click="goto('leaderboard')" name="goLeaderboard">
                      Leaderboard
                    </md-nav-item>
                    <md-nav-item style="color:red" md-nav-click="goto('logout')" name="logout">
                            Log Out
                          </md-nav-item>
                  </md-nav-bar>
                </md-content>
        </div>


        <div layout="row" style="background-color:cadetblue">
            <div>
              <md-sidenav
              md-component-id="left"
              class="md-sidenav-left"
              md-is-locked-open="$mdMedia('gt-xs')"
              md-whiteframe="3">

          <md-toolbar class="md-theme-indigo">
              <h3 style="text-align:center">Teacher Dashboard</h3>
          </md-toolbar>
          <md-content layout-padding>
              <md-button ng-click="goto('grades')">Grades</md-button>
              <br>
              <md-button ng-click="goto('Skills')">SKills</md-button>
              <br>
              <md-button ng-click="goto('settings')">Settings</md-button>
          </md-content>
          </md-sidenav>
          </div>
    <!-- Room Previews -->
    <div layout-padding>
    <div layout="columns">
    <h2 style="text-decoration:underline">Rooms</h2>

    </div>
    <br>
    <div flex-xs flex-gt-xs="100" layout="column">
        <md-content layout-wrap style="background-color:cadetblue;" class="md-padding" flex layout-xs="column" layout="row">
            <md-card md-theme="default">
                <md-card-content>
                    <md-button ng-click="newRoom()"><i class="material-icons">add</i></md-button>
                </md-card-content>
            </md-card>
        <md-card ng-repeat="n in rooms" md-theme="default">
            <md-card-title-text layout-padding style="text-align:center;color:#22393a"><b>{{n.name}}</b></md-card-title-text>
            <md-card-content layout-padding>
                <b>Occupants:</b> {{n.num}}
                <br>
                <b>Skills:</b>
                <ul style="margin:0">
                    <li ng-repeat="s in n.skill">{{s}}</li>
                </ul>
            </md-card-content>

            <md-card-actions>
                <md-button ng-click="editRoom()"><i class="material-icons">edit</i></md-button>
                <md-button ng-click="deleteRoom(n)"><i class="material-icons">delete</i></md-button>
            </md-card-actions>
        </md-card>
    </md-content>
    </div>
</div>
</div>
</body>
</html>
